


<section class="section">
  <p class="title">Time to realize your social life.</p>
    <div class="container">
      <div class="columns is-centered">

        <%= render 'feed' %>

      </div>
    </div>
</section>
