


<section class="section">
  <p class="title">Don't keep your social life an eventuality. Eventualize it.</p>
    <div class="container">
      <div class="columns is-centered">

        <%= render 'feed' %>

      </div>
    </div>
</section>
