


<div class="columns is-centered">
  <div class="column is-half">
    <p class="title is-5">To Do:</p>
      <ul class="title is-6">Make associations between user and event models</ul>
      <ul class="title is-6">Fix remaining Devise Views</ul>
      <ul class="title is-6">Make sure events created by users will get destroyed automatically</ul>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="conlumns">

      <%= render 'feed' %>
    
    </div>
  </div>
</section>
